* {
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
    margin: 15px 30px;
    padding: 8px;
}

.container {
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgray;
    border-radius: 4px;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="date"],
select,
fieldset, 
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
}
.main-heading {
    text-align: center;
}
.submit-btn  {
    background-color: #4daea1;
    color: #fff;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    width: 100%;
    transition: .5s;
}
.submit-btn:hover {
    background-color: rgba(69, 233, 219, 0.986); 
}
fieldset {
    border: none;
}